<h2>Project Communication Information</h2>

<form action="../project/create-project-communication" method="post">
    <fieldset>
        <!-- Project Communication Information -->
        <label for="project_comm_website">Website:</label>
        <input type="text" id="project_comm_website" name="project_comm_website">

        <label for="project_comm_fb">Facebook:</label>
        <input type="text" id="project_comm_fb" name="project_comm_fb">

        <label for="project_comm_insta">Instagram:</label>
        <input type="text" id="project_comm_insta" name="project_comm_insta">

        <label for="project_comm_linkedin">LinkedIn:</label>
        <input type="text" id="project_comm_linkedin" name="project_comm_linkedin">

        <label for="project_comm_collablink">Collaboration Link:</label>
        <input type="text" id="project_comm_collablink" name="project_comm_collablink">
    </fieldset>

    <!-- Add other fields for project communication information -->

    <button type="submit">Submit For Approval</button>
</form>