<% const d = new Date()
let year = d.getFullYear() %>

  <nav class="footer-link">
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/help/contact-us">Contact Us</a></li>
      <li><a href="#resume">Privacy Policy</a></li>
      <li><a href="#resume">Terms of Use</a></li>
      <li><a href="#resume">Disclaimers</a></li>
    </ul>
  </nav>

<div class="footer-social-media">
  <a href="#resume"><img src="/imagess/assets/icons8-linkedin-144.png" alt="LinkedIn Image"></a>
  <a href="#resume"><img src="/imagess/assets/icons8-instagram-144.png" alt="LinkedIn Image"></a>
  <a href="#resume"><img src="/imagess/assets/icons8-facebook-144.png" alt="LinkedIn Image"></a>
</div>

<footer>
  <p class="copyright">&copy; <%= year %>, Vroom Now</p>
</footer>