<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description"
        content="Aza Money is a Nigeria base financial firm offering peer to peer lending platform. We offer loans at a competitive rate and a good return on investment for lenders.">
    <meta name="keywords"
        content="Loan, Lend, Business, empowerment, investment, interest, good, profit, money, Nigeria, P2P, Aza, Aza Money">
    <meta name="author" content="Aza Money">
    <title>
        <%= title %>
    </title>
    <script type="text/javascript" src="/js/javascript.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.4.0/jspdf.umd.min.js"></script>
    <script src="https://unpkg.com/pizzip@3.0.6/dist/pizzip.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/docxtemplater/3.17.9/docxtemplater.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/FileSaver.js/2.0.5/FileSaver.min.js"></script>
    <link rel="stylesheet" media="all and (min-width: 320px)" href="/css/small.css">
    <link rel="stylesheet" media="all and (min-width: 769px)" href="/css/medium.css">
    <link rel="stylesheet" media="all and (min-width: 1200px)" href="/css/large.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="icon" type="image/x-icon" href="/imagess/assets/trans-logo.png">
</head>