<div class="top-nav">
  <img id="logoID" src="/imagess/assets/Kaizam-Logo.png" onclick="window.location='/'" alt="Logo">
<img id="hamburger-icon" src="/imagess/assets/icons8-hamburger-menu-150.png" alt="Hamburger Icon">
<img id="close-menu-option" src="/imagess/assets/icons8-close-150.png" alt="Close Menu">
</div>
<div class="menu-display">
  <nav class="header-nav">
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/user-account/my-account">My Resume</a></li>
      <li class="dropdown">
        <a href="#" class="dropbtn">Projects  <i class="arrow down"></i></a>
        <div class="dropdown-content">
          <a href="/project/find-project">Find a Project</a>
          <a href="/project/create-project">Create a Project</a>
          <a href="/project/my-projects">My Projects</a>
        </div>
      </li>
      <li class="dropdown">
        <a href="#" class="dropbtn">Mentorship  <i class="arrow down"></i></a>
        <div class="dropdown-content">
          <a href="/mentorship/find-mentee">Find a Mentee</a>
          <a href="/mentorship/request-for-mentor">Request for a Mentor</a>
          <a href="/mentorship/my-mentorship">My Mentorship</a>
        </div>
      </li>
      <li><a href="/help/contact-us">Contact Us</a></li>
    </ul>
  </nav>
</div>