<h1 class="homeH1">Welcome to Vroom Now!</h1>

<h2 class="homeH2">Connecting people, and enabling growth and opportunities.</h2>

<section class="collab-banner">
  <p>Where possible, no dream or career will be left behind.</p>
  <img src="imagess/assets/collab-image.jpg" alt="Collaboration Image">
</section>

<section>
  <h2>
    About Us
  </h2>
  <h3 class="about-us-text">Vision</h3>
  <p class="about-us-text">Empowering individuals to transform their ideas into impactful projects, fostering collaboration, skill development, and mentorship in a dynamic and inclusive platform.</p>
  <h3 class="about-us-text">Mission</h3>
  <p class="about-us-text">Our mission is to provide a space where individuals can seamlessly create and collaborate on projects, enabling experiential learning and skill enhancement. We aim to bridge the gap between those seeking mentorship and those offering guidance, fostering a community-driven ecosystem of innovation and personal growth.</p>
</section>

<section class="home-section">
  <h2>
    Services
  </h2>
  <div class="about-us-text">
    <h3>Projects</h3>
    <p>Are you looking to gain experience? Are you looking to validate your idea? Are you looking to make a difference? Whichever you choose to do, we have your back.</p>
    <div class="buttons">
      <a href="./project/find-project" class="btn">Find a project</a>
      <a href="./project/create-project" class="btn">Create a project</a>
    </div>
  </div>
  <div class="about-us-text">
    <h3>
      mentorship
    </h3>
    <p>Are you ready to give back through mentoring? Are you looking for a mentor? Either way, we have your back.</p>
    <div class="buttons">
      <a href="./mentorship/find-mentee" class="btn">Offer to Mentor</a>
      <a href="./mentorship/request-for-mentor" class="btn">Request For a Mentor</a>
    </div>
  </div>
</section>