   <div class="registration-prompt">
        <h1>Complete Your Registration</h1>
        <p>We noticed that your registration is not yet complete. Please take a moment to complete your registration in order to proceed.</p>
        <a href="/user-account/sign-up" class="btn btn-primary">Complete Registration</a>
    </div>
