<h1>congratulations!!!</h1>

<p>Your acount was registered success fully</p>

<button class="btn btn-primary btn-block" onclick="window.location='/user-account/edit-education'">Cleck here to contine</button>